name: Check Markdown links

on:
  push:
    branches:
      - master

  schedule:
    # At 07:42 on Sunday.
    - cron: "42 7 * * sun"

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-verbose-mode: "yes"
          config-file: "mlc_config.json"
          file-path: "./README.md"
          